### devenv-base gitignore
.devenv*
.direnv
.gitignore
.nvim.lua
.pre-commit-config.yaml
.pi/mcp.json
.pi/extensions/post-edit-hook.ts
devenv.local.nix
devenv.local.yaml
result
### end

.DS_Store
.cache
.vscode
Builds
JuceLibraryCode
build
compile_commands.json
